<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Marketboro Test Page</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script th:inline="javascript">
    const message = /*[[ ${message} ]]*/;
    if(!$.isEmptyObject(message)) {
      alert(message);
    }
  </script>
</head>
<body>

<h1>Marketboro Test Page</h1>
<h2>관리자 추가 화면입니다.</h2>

<form method="get" action="/admin/saveAdmin">
  <input type="text" name="name"/><br/>
  <input type="password" name="password"/><br/>
  <input type="number" name="contractNumber"/><br/>
  <input type="submit" value="제출">
</form>
</body>
</html>