<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Marketboro Test Page</title>
  <th:block th:include="/in_head.html"></th:block>
</head>

<body>

  <header>
    <th:block th:include="/header.html"></th:block>
  </header>
  <nav>
    <th:block th:include="/menu.html"></th:block>
  </nav>
  <main>
    <th:block th:include="/board.html"></th:block>
  </main>
  <footer>
    <th:block th:include="/footer.html"></th:block>
  </footer>
</body>

</html>