<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="_csrf_header" th:content="${_csrf.parameterName}"/>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <title>Blog Post - Start Bootstrap Template</title>
        <th:block th:include="/include.html"></th:block>
    </head>
    <body>
        <!-- Responsive navbar-->
        <th:block th:include="/blogDiv/menu.html"></th:block>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <th:block th:include="/blogDiv/header.html"></th:block>
        </header>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <!-- Side widgets-->
                <th:block th:include="/blogDiv/side.html"></th:block>
                <!-- Blog entries-->
                <th:block th:include="${mainPage}"></th:block>
                <!-- list.html board.html write.html -->
            </div>
        </div>
        <!-- Footer-->
        <th:block th:include="/blogDiv/footer.html"></th:block>
    </body>
</html>
