<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Marketboro Admin Page</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:inline="javascript">
  $( document ).ready( function() {
    $("#search").click(function(){
      location.href = "/user/list?page=0&name=" + $("#userName").val();
    });

    $(".page").click(function(event){
      let page = parseInt($(event.target).html()) -1;
      location.href = "/user/list?page=" + page + "&name=" + $("#userName").val();
    });
    //시작 페이지
    $("#fristPage").click(function(event){
      let start = /*[[ ${startPage} ]]*/;
      location.href = "/user/list?page=" + start + "&name=" + $("#userName").val();
    });
    //마지막 페이지
    $("#lsatPage").click(function(event){
      let last = /*[[ ${endPage} ]]*/;
      location.href = "/user/list?page=" + last + "&name=" + $("#userName").val();
    });
  });
</script>
<body>

<h1>Marketboro Admin Page</h1>
<h2>유저 리스트 화면</h2>
<h3>총건수 : <span th:text="${members.getTotalElements}"></span>건</h3>
<a href="/login?logout">로그아웃</a>
<input type="text" name="name" id="userName" th:value="${findName}"/> <button id="search">조회</button>

<table class="table">
  <thead>
    <tr>
      <th>순번</th>
      <th>id</th>
      <th>이름</th>
      <th>권한</th>
      <th>연락처</th>
      <th>가입일</th>
      <th>수정일</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="member, index : ${members}">
      <td th:text="${index.index + 1}"></td>
      <td th:text="${member.id}"></td>
      <td th:text="${member.name}"></td>
      <td th:text="${member.auth}"></td>
      <td th:text="${member.contractNumber}"></td>
      <td th:text="${member.createDatetime}"></td>
      <td th:text="${member.updateDatetime}"></td>
    </tr>
  </tbody>
</table>
<ul class="pagination justify-content-center">
  <li class="page-item">
    <a id="fristPage">시작</a>
  </li>
  <li th:each="i : ${#numbers.sequence(startPage , endPage)}" class="page-item" th:classappend="${i == members.pageable.pageNumber} ? 'disabled'">
    <a class="page" th:text="${i+1}"></a>
  </li>
  <li class="page-item">
    <a id="lsatPage">종료</a>
  </li>
</ul>
</body>
</html>